.aula-main {
    border-radius: 15px;
    width: calc(100vw - 355px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aula {

    width: 90%;
    height: 90%;
    overflow: auto;

}

.aula::-webkit-scrollbar{
    display: none;
}

.aula h2 {
    text-align: center;
}

.aula p {
    margin: 10px;
}

.aula li {
    margin-left: 25px;
}

#principal {
    display: flex;
    flex-direction: row;
}

.title-aula {
    color: #07BEB8;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aula p {
    margin: 10px;
    
}

.imgs-modulo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imgs-modulo div {
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.button-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.btn-quiz {
    font-family: 'Baloo 2', sans-serif;
    background: #c1eaea;
    font-size: 25px;
    width: 140px;
    border: solid 1px #07BEB8;
    border-radius: 5px;
    color: rgb(49, 49, 49);
    cursor: pointer;
}

.btn-quiz:hover{
    color: aliceblue;
    background-color: #07BEB8;
}

.Quiz{
    width: 200px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #07BEB8 4px solid;
    border-radius: 4px;
    transition: 0.2s linear;
}

.Quiz:hover{
    background-color: #07BEB8;
    color: white;
    transition: 0.2s linear;
}

.imagem-seila {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    left: 0;
}

.sidebar-locate{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-learn,.sidebar-statistics,.sidebar-friends,.sidebar-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-square{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background: rgba(7, 190, 184, 0.20);
    border-radius: 10px;
    border: 2px solid #07BEB8;
}

.sidebar-square svg{
    position: relative;
    left: 8px;
}

.sidebar-friends .sidebar-square svg{
    position: relative;
    left: 5px;
}

.on-locate{
    animation: on 0.5s ease-in-out;
    width: 150px;
    margin-right: -100px; 
    transition-delay: 0.5s;
}

.off-locate{
    animation: off 0.5s ease-in-out;
}

@keyframes on {
    0%{
        width: 40px;
        margin-right: 0;    
    }
    100%{
        width: 150px;
        margin-right: -100px; 
    }
}

@keyframes off {
    0%{
        width: 150px;
        margin-right: -100px; 
    }
    100%{
        width: 40px;
        margin-right: 0;    
    }
}

.sidebar-responsive{    
    display: none;
}


@media (max-width: 825px) {
    .sidebar-responsive {
        background-color: #07BEB8;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
        position: relative;
    }

    #principal {
        flex-direction: column;
    }
    .sidebar-locate{
        display: none;
    }
    .sidebar{
        max-height: 120px;
        margin-top: 10px;
    }
    .sidebar img{
        height: 140px;
    }
    .aula-main{
        width: 100vw;
        height: calc(100vh - 180px);
    }
    .selecionado {
        margin-bottom: 15px;
        background-color: aliceblue;
        border-radius: 14px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 340px) {
    .sidebar-responsive{
        display: flex;
    }
    .sidebar {
        display: none;
    }
    .aula-main{
        height: calc(100vh - 53px);
    }
}







