a{
    color: black;
}

.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
}

.sidebar-locate{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-learn,.sidebar-statistics,.sidebar-friends,.sidebar-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-square{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background: rgba(7, 190, 184, 0.20);
    border-radius: 10px;
    border: 2px solid #07BEB8;
}

.sidebar-square svg{
    position: relative;
    left: 8px;
}

.sidebar-friends .sidebar-square svg{
    position: relative;
    left: 5px;
}

.on-locate{
    animation: on 0.5s ease-in-out;
    width: 150px;
    margin-right: -100px; 
    transition-delay: 0.5s;
}

.off-locate{
    animation: off 0.5s ease-in-out;
    width: 40px;
    margin-right: 0; 
}

@keyframes on {
    0%{
        width: 40px;
        margin-right: 0;    
    }
    100%{
        width: 150px;
        margin-right: -100px; 
    }
}

@keyframes off {
    0%{
        width: 150px;
        margin-right: -100px; 
    }
    100%{
        width: 40px;
        margin-right: 0;    
    }
}

.hello{
    font-size: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hi{
    display: flex;
}

.name{
    display: flex;
    font-size: 30px;
}

.span{
    position: fixed;
    background-color: #f7f7f7;
    left: calc(50vw - 200px);
    min-width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 25px;
    border: #07BEB8 4px solid;
    border-radius: 20px;
    top: -100px;
    animation: hello 4s ease-in-out;
    z-index: 50;
    margin-left: 10px;
}


@keyframes hello {
    0%{
        top: -100px;
    }
    30%{
        top: 50px;
    }
    70%{
        top: 50px;
    }
    100%{
        top: -100px;
    }
}

.warning{
    position: fixed;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: #07BEB8 4px solid;
    border-radius: 20px;
    z-index: 70;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);

}

.tp{
    opacity: 0;
}

.warning div{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


span{
    color: orange;
    font-size: 40px;
}


.sidebar-responsive{
    display: none;
}

@media (max-width: 890px) {
        .sidebar-title{
        	display: none;        
        }
    .sidebar-locate{
        display: none;
    }
    .sidebar-responsive {
        background-color: #07BEB8;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: 70px;
        width: 100vw;
    }

    .selecionado {
        margin-bottom: 10px;
        background-color: aliceblue;
        border-radius: 14px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modules{
        margin-bottom: 2vh;
    }

}


